@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@400;600&display=swap');

:root {
  --primario: #59573E;
  --secundario: #8C8177;
  --fondo: #F2F2F2;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--fondo);
  margin: 0;
}

h2 { font-family: 'Montserrat', sans-serif; color: var(--primario); }

/* Botón que usarás en todas las pantallas */
.btn-controldocs {
  background-color: var(--primario);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
}